@using NegativeEddy.Bots.Twitch.SampleBot.Commands
<div class="commandeditor">
    <div>option list</div>
    <div>DECORATED COMMAND EDITOR</div>
</div>


@code {
    [Parameter]
    public BotCommandDecorator command { get; set; }
}
