@using NegativeEddy.Bots.Twitch.SampleBot.Commands
@using NegativeEddy.Bots.Twitch.BlazorHost.Shared
<div class="commandeditor">
    <span style="font-weight:bold">@Decorator?.DecoratorName</span> (no configuration for @Decorator?.DecoratorName)
</div>


@code {
    [Parameter]
    public BotCommandDecorator? Decorator { get; set; }
}
