@using NegativeEddy.Bots.Twitch.SampleBot.Commands
<div class="commandeditor">
    (no configuration for @Command.Name)
</div>


@code {
    [Parameter]
    public IBotCommand Command { get; set; }
}
