@using NegativeEddy.Bots.Twitch.SampleBot.Commands
<div class="top-row pl-4 navbar navbar-dark">
    Sorry, cannot yet edit "@command.Name" commands
</div>


@code {
    [Parameter]
    public IBotCommand command { get; set; }
}
