@using NegativeEddy.Bots.Twitch.SampleBot.Commands
<div class="commandeditor">
    Sorry, cannot yet edit "@Command.Name" commands
</div>


@code {
    [Parameter]
    public IBotCommand Command { get; set; }
}
