@page "/"

<h1>Welcome to your new Twitch Bot</h1>

<div>Things the bot can do</div>
<ul>
    <li>Join/leave channels</li>
    <li>Say hello</li>
    <li>!help</li>
    <li>not much else</li>
</ul>


